body {
    font-family: 'Sarabun', sans-serif;
    background-color: #90adbf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

.form-card {
    background-color: #fffffff6;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(77, 134, 151);
    text-align: center;
}

h2 {
    color: #8aa6b8;
    margin-bottom: 20px;
    font-weight: 1000;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #8aa6b8;
    font-size: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #8aa6b8;
    border-radius: 5px;
    font-size: 16px;
}

.input-group input:focus {
    outline: none;
    border-color: #007bff;
}

.register-button {
    width: 100%;
    padding: 12px;
    background-color: #4e90b9;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.register-button:hover {
    background-color: #0056b3;
}

.login-link {
    margin-top: 20px;
    color: #8aa6b8;
    font-size: 14px;
}

.login-link a {
    color: #8aa6b8;
    text-decoration: none;
    font-weight: 700;
}

.login-link a:hover {
    text-decoration: underline;
}